In [1]:
import pandas as pd
from langchain_core.documents import Document

In [2]:
df = pd.read_csv('data/ford.csv')
df.head()

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0

In [3]:
df.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize'],
      dtype='object')

In [4]:
df.shape

(17966, 9)

In [5]:
df = df[['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize']]
df.head()

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0

In [46]:
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [7]:
# df = df[df['transmission'].apply(lambda x: x in ['Manual', 'Automatic'])]

In [8]:
# # Convert the 'fuelType' column to string
# df['fuelType'] = df['fuelType'].astype(str)

In [47]:
df.head()

    model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0  Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7         1.0
1   Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2   Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3  Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4  Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0

In [9]:
# # Convert columns to numeric, coercing errors to NaN
# df['price'] = pd.to_numeric(df['price'], errors='coerce')
# df['year'] = pd.to_numeric(df['year'], errors='coerce')
# df['mileage'] = pd.to_numeric(df['mileage'], errors='coerce')
# df['tax'] = pd.to_numeric(df['tax'], errors='coerce')
# df['engineSize'] = pd.to_numeric(df['engineSize'], errors='coerce')

In [10]:
# # Get a summary of data types and their counts
# summary = df.dtypes.value_counts()
# print(summary)

int64      4
object     3
float64    2
Name: count, dtype: int64

In [11]:
# df['mpg'] = pd.to_numeric(df['mpg'], errors='coerce')
# df['engineSize'] = pd.to_numeric(df['engineSize'], errors='coerce')

In [48]:
df.head()

    model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0  Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7         1.0
1   Focus  2018  14000       Manual     9083   Petrol  150  57.7         1.0
2   Focus  2017  13000       Manual    12456   Petrol  150  57.7         1.0
3  Fiesta  2019  17500       Manual    10460   Petrol  145  40.3         1.5
4  Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7         1.0

In [49]:
product_list = []
for index,row in df.iterrows():
    object = {
            "model": row["model"],
            "year": row["year"],
            "price": row["price"],
            "transmission": row["transmission"],
            "mileage": row["mileage"],
            "fuelType": row["fuelType"],
            "tax": row["tax"],
            "mpg": row["mpg"],
            "engineSize": row["engineSize"],
    }
    
    product_list.append(object)

In [50]:
product_list[0]

{'model': 'Fiesta',
 'year': 2017,
 'price': 12000,
 'transmission': 'Automatic',
 'mileage': 15944,
 'fuelType': 'Petrol',
 'tax': 150,
 'mpg': 57.7,
 'engineSize': 1.0}

## Convert the data into document format

In [28]:
docs = []
for entry in product_list:
    metadata = {"price": entry['price'],"year":entry['year'],"transmission":entry['transmission'],"mileage":entry['mileage'],"fuelType":entry['fuelType'],"tax":entry['tax'],"engineSize":entry['engineSize']}
    page_content= entry['model']
    doc = Document(page_content=page_content, metadata= metadata)
    docs.append(doc)

In [29]:
docs[0]

Document(metadata={'price': 12000, 'year': 2017, 'transmission': 'Automatic', 'mileage': 15944, 'fuelType': 'Petrol', 'tax': 150, 'engineSize': 1.0}, page_content='Fiesta')

In [30]:
len(docs)

16879

In [56]:
GROQ_API_KEY = "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"
ASTRA_DB_API_ENDPOINT = "https://49112446-b41d-4a13-98ce-2ee1c71da40d-us-east-2.apps.astra.datastax.com"
ASTRA_DB_APPLICATION_TOKEN = "AstraCS:jIIECcGonIQRxqgciJZPZweb:0ddace752b4a79f8afbb390dbc1696d352e8937f9dcd341c670b5fb2af2b6885"
ASTRA_DB_KEYSPACE = "default_keyspace"
HF_TOKEN = "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"

In [57]:
from langchain_community.embeddings import HuggingFaceInferenceAPIEmbeddings

In [58]:
embedding = HuggingFaceInferenceAPIEmbeddings(api_key=HF_TOKEN,model_name="BAAI/bge-base-en-v1.5")

In [59]:
from langchain_astradb import AstraDBVectorStore

In [61]:
vstore = AstraDBVectorStore(
    embedding = embedding,
    collection_name = "ford_bot_new",
    api_endpoint = ASTRA_DB_API_ENDPOINT,
    token = ASTRA_DB_APPLICATION_TOKEN,
    namespace = ASTRA_DB_KEYSPACE 
)

KeyError: 0

In [54]:
insert_ids = vstore.add_documents(docs)
# for doc in docs:
#     try:
#        insert_ids = vstore.add_documents([doc])
#     except ValueError as e:
#         print(f"Error in document: {doc}")
#         print(e)

NameError: name 'vstore' is not defined