In [1]:
# Spark Session
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .appName("Working with Strings & Dates")
    .master("local[*]")
    .getOrCreate()
)

spark

24/08/03 15:53:07 WARN Utils: Your hostname, MUNUSAMIs-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.1.4 instead (on interface en0)
24/08/03 15:53:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/03 15:53:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/08/03 15:53:09 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/08/03 15:53:09 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
# Emp Data & Schema

emp_data = [
    ["001","101","John Doe","30","Male","50000","2015-01-01"],
    ["002","101","Jane Smith","25","Female","45000","2016-02-15"],
    ["003","102","Bob Brown","35","Male","55000","2014-05-01"],
    ["004","102","Alice Lee","28","Female","48000","2017-09-30"],
    ["005","103","Jack Chan","40","Male","60000","2013-04-01"],
    ["006","103","Jill Wong","32","Female","52000","2018-07-01"],
    ["007","101","James Johnson","42","Male","70000","2012-03-15"],
    ["008","102","Kate Kim","29","Female","51000","2019-10-01"],
    ["009","103","Tom Tan","33","Male","58000","2016-06-01"],
    ["010","104","Lisa Lee","27","Female","47000","2018-08-01"],
    ["011","104","David Park","38","Male","65000","2015-11-01"],
    ["012","105","Susan Chen","31","Female","54000","2017-02-15"],
    ["013","106","Brian Kim","45","Male","75000","2011-07-01"],
    ["014","107","Emily Lee","26","Female","46000","2019-01-01"],
    ["015","106","Michael Lee","37","Male","63000","2014-09-30"],
    ["016","107","Kelly Zhang","30","Female","49000","2018-04-01"],
    ["017","105","George Wang","34","Male","57000","2016-03-15"],
    ["018","104","Nancy Liu","29","","50000","2017-06-01"],
    ["019","103","Steven Chen","36","Male","62000","2015-08-01"],
    ["020","102","Grace Kim","32","Female","53000","2018-11-01"]
]

emp_schema = "employee_id string, department_id string, name string, age string, gender string, salary string, hire_date string"

In [3]:
# Create emp DataFrame

emp = spark.createDataFrame(data=emp_data, schema=emp_schema)

In [4]:
# Show emp dataframe (ACTION)

emp.show()

+-----------+-------------+-------------+---+------+------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|
+-----------+-------------+-------------+---+------+------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|
+-----------+-------------+-------------+---+------+------+----------+

In [5]:
# Print Schema

emp.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [6]:
# Case When
# select employee_id, name, age, salary, gender,
# case when gender = 'Male' then 'M' when gender = 'Female' then 'F' else null end as new_gender, hire_date from emp
from pyspark.sql.functions import when, col, expr

emp_gender_fixed = emp.withColumn("new_gender", when(col("gender") == 'Male', 'M')
                                 .when(col("gender") == 'Female', 'F')
                                 .otherwise(None)
                                 )
                            
emp_gender_fixed_1 = emp.withColumn("new_gender", expr("case when gender = 'Male' then 'M' when gender = 'Female' then 'F' else null end"))

In [7]:
emp_gender_fixed_1.show()

+-----------+-------------+-------------+---+------+------+----------+----------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|
+-----------+-------------+-------------+---+------+------+----------+----------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      NULL|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|
+-----------+-------------+-------------+---+------+------+----------+----------+

In [8]:
# Replace in Strings
# select employee_id, name, replace(name, 'J', 'Z') as new_name, age, salary, gender, new_gender, hire_date from emp_gender_fixed
from pyspark.sql.functions import regexp_replace

emp_name_fixed = emp_gender_fixed.withColumn("new_name", regexp_replace(col("name"), "J", "Z"))

In [9]:
emp_name_fixed.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|      NULL|    Nancy Liu|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+

In [10]:
# Convert Date
# select *,  to_date(hire_date, 'YYYY-MM-DD') as hire_date from emp_name_fixed
from pyspark.sql.functions import to_date

emp_date_fix = emp_name_fixed.withColumn("hire_date", to_date(col("hire_date"), 'yyyy-MM-dd'))

In [11]:
emp_date_fix.printSchema()

root
 |-- employee_id: string (nullable = true)
 |-- department_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: date (nullable = true)
 |-- new_gender: string (nullable = true)
 |-- new_name: string (nullable = true)

In [12]:
# Add Date Columns
# Add current_date, current_timestamp, extract year from hire_date
from pyspark.sql.functions import current_date, current_timestamp

emp_dated = emp_date_fix.withColumn("date_now", current_date()).withColumn("timestamp_now", current_timestamp())

In [13]:
emp_dated.show(truncate=False)

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------------+
|employee_id|department_id|name         |age|gender|salary|hire_date |new_gender|new_name     |date_now  |timestamp_now             |
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------------+
|001        |101          |John Doe     |30 |Male  |50000 |2015-01-01|M         |Zohn Doe     |2024-08-03|2024-08-03 15:56:09.973579|
|002        |101          |Jane Smith   |25 |Female|45000 |2016-02-15|F         |Zane Smith   |2024-08-03|2024-08-03 15:56:09.973579|
|003        |102          |Bob Brown    |35 |Male  |55000 |2014-05-01|M         |Bob Brown    |2024-08-03|2024-08-03 15:56:09.973579|
|004        |102          |Alice Lee    |28 |Female|48000 |2017-09-30|F         |Alice Lee    |2024-08-03|2024-08-03 15:56:09.973579|
|005        |103          |Jack Chan    |40 |Male  |60000 |2013-04-01|M         |Zack Chan    |2024-08-03|2024-08-03 15:56:09.973579|
|006        |103          |Jill Wong    |32 |Female|52000 |2018-07-01|F         |Zill Wong    |2024-08-03|2024-08-03 15:56:09.973579|
|007        |101          |James Johnson|42 |Male  |70000 |2012-03-15|M         |Zames Zohnson|2024-08-03|2024-08-03 15:56:09.973579|
|008        |102          |Kate Kim     |29 |Female|51000 |2019-10-01|F         |Kate Kim     |2024-08-03|2024-08-03 15:56:09.973579|
|009        |103          |Tom Tan      |33 |Male  |58000 |2016-06-01|M         |Tom Tan      |2024-08-03|2024-08-03 15:56:09.973579|
|010        |104          |Lisa Lee     |27 |Female|47000 |2018-08-01|F         |Lisa Lee     |2024-08-03|2024-08-03 15:56:09.973579|
|011        |104          |David Park   |38 |Male  |65000 |2015-11-01|M         |David Park   |2024-08-03|2024-08-03 15:56:09.973579|
|012        |105          |Susan Chen   |31 |Female|54000 |2017-02-15|F         |Susan Chen   |2024-08-03|2024-08-03 15:56:09.973579|
|013        |106          |Brian Kim    |45 |Male  |75000 |2011-07-01|M         |Brian Kim    |2024-08-03|2024-08-03 15:56:09.973579|
|014        |107          |Emily Lee    |26 |Female|46000 |2019-01-01|F         |Emily Lee    |2024-08-03|2024-08-03 15:56:09.973579|
|015        |106          |Michael Lee  |37 |Male  |63000 |2014-09-30|M         |Michael Lee  |2024-08-03|2024-08-03 15:56:09.973579|
|016        |107          |Kelly Zhang  |30 |Female|49000 |2018-04-01|F         |Kelly Zhang  |2024-08-03|2024-08-03 15:56:09.973579|
|017        |105          |George Wang  |34 |Male  |57000 |2016-03-15|M         |George Wang  |2024-08-03|2024-08-03 15:56:09.973579|
|018        |104          |Nancy Liu    |29 |      |50000 |2017-06-01|NULL      |Nancy Liu    |2024-08-03|2024-08-03 15:56:09.973579|
|019        |103          |Steven Chen  |36 |Male  |62000 |2015-08-01|M         |Steven Chen  |2024-08-03|2024-08-03 15:56:09.973579|
|020        |102          |Grace Kim    |32 |Female|53000 |2018-11-01|F         |Grace Kim    |2024-08-03|2024-08-03 15:56:09.973579|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------------+

In [14]:
# Drop Null gender records
emp_1 = emp_dated.na.drop()

In [15]:
emp_1.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|  date_now|       timestamp_now|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|2024-08-03|2024-08-03 15:56:...|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|2024-08-03|2024-08-03 15:56:...|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|2024-08-03|2024-08-03 15:56:...|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|2024-08-03|2024-08-03 15:56:...|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|2024-08-03|2024-08-03 15:56:...|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|2024-08-03|2024-08-03 15:56:...|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|2024-08-03|2024-08-03 15:56:...|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|2024-08-03|2024-08-03 15:56:...|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|2024-08-03|2024-08-03 15:56:...|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|2024-08-03|2024-08-03 15:56:...|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|2024-08-03|2024-08-03 15:56:...|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|2024-08-03|2024-08-03 15:56:...|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|2024-08-03|2024-08-03 15:56:...|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|2024-08-03|2024-08-03 15:56:...|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|2024-08-03|2024-08-03 15:56:...|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|2024-08-03|2024-08-03 15:56:...|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|2024-08-03|2024-08-03 15:56:...|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|2024-08-03|2024-08-03 15:56:...|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|2024-08-03|2024-08-03 15:56:...|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+

In [16]:
# Fix Null values
# select *, nvl('new_gender', 'O') as new_gender from emp_dated
from pyspark.sql.functions import coalesce, lit

emp_null_df = emp_dated.withColumn("new_gender", coalesce(col("new_gender"), lit("O")))

In [17]:
emp_null_df.show()

+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|employee_id|department_id|         name|age|gender|salary| hire_date|new_gender|     new_name|  date_now|       timestamp_now|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+
|        001|          101|     John Doe| 30|  Male| 50000|2015-01-01|         M|     Zohn Doe|2024-08-03|2024-08-03 15:57:...|
|        002|          101|   Jane Smith| 25|Female| 45000|2016-02-15|         F|   Zane Smith|2024-08-03|2024-08-03 15:57:...|
|        003|          102|    Bob Brown| 35|  Male| 55000|2014-05-01|         M|    Bob Brown|2024-08-03|2024-08-03 15:57:...|
|        004|          102|    Alice Lee| 28|Female| 48000|2017-09-30|         F|    Alice Lee|2024-08-03|2024-08-03 15:57:...|
|        005|          103|    Jack Chan| 40|  Male| 60000|2013-04-01|         M|    Zack Chan|2024-08-03|2024-08-03 15:57:...|
|        006|          103|    Jill Wong| 32|Female| 52000|2018-07-01|         F|    Zill Wong|2024-08-03|2024-08-03 15:57:...|
|        007|          101|James Johnson| 42|  Male| 70000|2012-03-15|         M|Zames Zohnson|2024-08-03|2024-08-03 15:57:...|
|        008|          102|     Kate Kim| 29|Female| 51000|2019-10-01|         F|     Kate Kim|2024-08-03|2024-08-03 15:57:...|
|        009|          103|      Tom Tan| 33|  Male| 58000|2016-06-01|         M|      Tom Tan|2024-08-03|2024-08-03 15:57:...|
|        010|          104|     Lisa Lee| 27|Female| 47000|2018-08-01|         F|     Lisa Lee|2024-08-03|2024-08-03 15:57:...|
|        011|          104|   David Park| 38|  Male| 65000|2015-11-01|         M|   David Park|2024-08-03|2024-08-03 15:57:...|
|        012|          105|   Susan Chen| 31|Female| 54000|2017-02-15|         F|   Susan Chen|2024-08-03|2024-08-03 15:57:...|
|        013|          106|    Brian Kim| 45|  Male| 75000|2011-07-01|         M|    Brian Kim|2024-08-03|2024-08-03 15:57:...|
|        014|          107|    Emily Lee| 26|Female| 46000|2019-01-01|         F|    Emily Lee|2024-08-03|2024-08-03 15:57:...|
|        015|          106|  Michael Lee| 37|  Male| 63000|2014-09-30|         M|  Michael Lee|2024-08-03|2024-08-03 15:57:...|
|        016|          107|  Kelly Zhang| 30|Female| 49000|2018-04-01|         F|  Kelly Zhang|2024-08-03|2024-08-03 15:57:...|
|        017|          105|  George Wang| 34|  Male| 57000|2016-03-15|         M|  George Wang|2024-08-03|2024-08-03 15:57:...|
|        018|          104|    Nancy Liu| 29|      | 50000|2017-06-01|         O|    Nancy Liu|2024-08-03|2024-08-03 15:57:...|
|        019|          103|  Steven Chen| 36|  Male| 62000|2015-08-01|         M|  Steven Chen|2024-08-03|2024-08-03 15:57:...|
|        020|          102|    Grace Kim| 32|Female| 53000|2018-11-01|         F|    Grace Kim|2024-08-03|2024-08-03 15:57:...|
+-----------+-------------+-------------+---+------+------+----------+----------+-------------+----------+--------------------+

In [18]:
# Drop old columns and Fix new column names
emp_final = emp_null_df.drop("name", "gender").withColumnRenamed("new_name", "name").withColumnRenamed("new_gender", "gender")

In [19]:
emp_final.show()

+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+
|employee_id|department_id|age|salary| hire_date|gender|         name|  date_now|       timestamp_now|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+
|        001|          101| 30| 50000|2015-01-01|     M|     Zohn Doe|2024-08-03|2024-08-03 15:57:...|
|        002|          101| 25| 45000|2016-02-15|     F|   Zane Smith|2024-08-03|2024-08-03 15:57:...|
|        003|          102| 35| 55000|2014-05-01|     M|    Bob Brown|2024-08-03|2024-08-03 15:57:...|
|        004|          102| 28| 48000|2017-09-30|     F|    Alice Lee|2024-08-03|2024-08-03 15:57:...|
|        005|          103| 40| 60000|2013-04-01|     M|    Zack Chan|2024-08-03|2024-08-03 15:57:...|
|        006|          103| 32| 52000|2018-07-01|     F|    Zill Wong|2024-08-03|2024-08-03 15:57:...|
|        007|          101| 42| 70000|2012-03-15|     M|Zames Zohnson|2024-08-03|2024-08-03 15:57:...|
|        008|          102| 29| 51000|2019-10-01|     F|     Kate Kim|2024-08-03|2024-08-03 15:57:...|
|        009|          103| 33| 58000|2016-06-01|     M|      Tom Tan|2024-08-03|2024-08-03 15:57:...|
|        010|          104| 27| 47000|2018-08-01|     F|     Lisa Lee|2024-08-03|2024-08-03 15:57:...|
|        011|          104| 38| 65000|2015-11-01|     M|   David Park|2024-08-03|2024-08-03 15:57:...|
|        012|          105| 31| 54000|2017-02-15|     F|   Susan Chen|2024-08-03|2024-08-03 15:57:...|
|        013|          106| 45| 75000|2011-07-01|     M|    Brian Kim|2024-08-03|2024-08-03 15:57:...|
|        014|          107| 26| 46000|2019-01-01|     F|    Emily Lee|2024-08-03|2024-08-03 15:57:...|
|        015|          106| 37| 63000|2014-09-30|     M|  Michael Lee|2024-08-03|2024-08-03 15:57:...|
|        016|          107| 30| 49000|2018-04-01|     F|  Kelly Zhang|2024-08-03|2024-08-03 15:57:...|
|        017|          105| 34| 57000|2016-03-15|     M|  George Wang|2024-08-03|2024-08-03 15:57:...|
|        018|          104| 29| 50000|2017-06-01|     O|    Nancy Liu|2024-08-03|2024-08-03 15:57:...|
|        019|          103| 36| 62000|2015-08-01|     M|  Steven Chen|2024-08-03|2024-08-03 15:57:...|
|        020|          102| 32| 53000|2018-11-01|     F|    Grace Kim|2024-08-03|2024-08-03 15:57:...|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+

In [20]:
# Bonus TIP
# Convert date into String and extract date information
from pyspark.sql.functions import date_format

emp_fixed = emp_final.withColumn("date_year", date_format(col("timestamp_now"), "z"))

In [21]:
emp_fixed.show()

+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+---------+
|employee_id|department_id|age|salary| hire_date|gender|         name|  date_now|       timestamp_now|date_year|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+---------+
|        001|          101| 30| 50000|2015-01-01|     M|     Zohn Doe|2024-08-03|2024-08-03 15:57:...|      IST|
|        002|          101| 25| 45000|2016-02-15|     F|   Zane Smith|2024-08-03|2024-08-03 15:57:...|      IST|
|        003|          102| 35| 55000|2014-05-01|     M|    Bob Brown|2024-08-03|2024-08-03 15:57:...|      IST|
|        004|          102| 28| 48000|2017-09-30|     F|    Alice Lee|2024-08-03|2024-08-03 15:57:...|      IST|
|        005|          103| 40| 60000|2013-04-01|     M|    Zack Chan|2024-08-03|2024-08-03 15:57:...|      IST|
|        006|          103| 32| 52000|2018-07-01|     F|    Zill Wong|2024-08-03|2024-08-03 15:57:...|      IST|
|        007|          101| 42| 70000|2012-03-15|     M|Zames Zohnson|2024-08-03|2024-08-03 15:57:...|      IST|
|        008|          102| 29| 51000|2019-10-01|     F|     Kate Kim|2024-08-03|2024-08-03 15:57:...|      IST|
|        009|          103| 33| 58000|2016-06-01|     M|      Tom Tan|2024-08-03|2024-08-03 15:57:...|      IST|
|        010|          104| 27| 47000|2018-08-01|     F|     Lisa Lee|2024-08-03|2024-08-03 15:57:...|      IST|
|        011|          104| 38| 65000|2015-11-01|     M|   David Park|2024-08-03|2024-08-03 15:57:...|      IST|
|        012|          105| 31| 54000|2017-02-15|     F|   Susan Chen|2024-08-03|2024-08-03 15:57:...|      IST|
|        013|          106| 45| 75000|2011-07-01|     M|    Brian Kim|2024-08-03|2024-08-03 15:57:...|      IST|
|        014|          107| 26| 46000|2019-01-01|     F|    Emily Lee|2024-08-03|2024-08-03 15:57:...|      IST|
|        015|          106| 37| 63000|2014-09-30|     M|  Michael Lee|2024-08-03|2024-08-03 15:57:...|      IST|
|        016|          107| 30| 49000|2018-04-01|     F|  Kelly Zhang|2024-08-03|2024-08-03 15:57:...|      IST|
|        017|          105| 34| 57000|2016-03-15|     M|  George Wang|2024-08-03|2024-08-03 15:57:...|      IST|
|        018|          104| 29| 50000|2017-06-01|     O|    Nancy Liu|2024-08-03|2024-08-03 15:57:...|      IST|
|        019|          103| 36| 62000|2015-08-01|     M|  Steven Chen|2024-08-03|2024-08-03 15:57:...|      IST|
|        020|          102| 32| 53000|2018-11-01|     F|    Grace Kim|2024-08-03|2024-08-03 15:57:...|      IST|
+-----------+-------------+---+------+----------+------+-------------+----------+--------------------+---------+