In [1]:
# Sum of Digits
sum1=0
n = int(input("Enter the number: "))
print(f'the input is {n}')
while(n>0):
    r = n%10
    sum1 = sum1 + r 
    n=n//10
print(f'The sum of digits {sum}')

the input is 10
The sum of digits <built-in function sum>

In [2]:
# armstrong number 
sum1=0
n = int(input("Enter the number: "))
print(f'the input is {n}')
res = n 
while(n>0):
    r = n%10
    sum1 += r ** 3 
    n=n//10
print(n)
if res == sum1:
    print('This is armstrong number')
else:
    print('This is not armstrong number')

the input is 10
0
This is not armstrong number

In [3]:
# Reverse the nnumber
sum1=0
n = int(input("Enter the number: "))
print(f'the input is {n}')
while(n>0):
    r = n%10
    sum1 = sum1*10 + r 
    n=n//10
print(f'The Reverse the number {sum1}')

the input is 10
The Reverse the number 1

In [4]:
# Palindrom number 
sum1=0
n = int(input("Enter the number: "))
print(f'the input is {n}')
res = n 
while(n>0):
    r = n%10
    sum1 = sum1 *10 + r
    n=n//10
print(n)
if res == sum1:
    print('This is Palindrom number')
else:
    print('This is not Palindrom number')

the input is 10
0
This is not Palindrom number

In [5]:
res = int(input("Enter your marks"))

if res >= 95:
    print('Congratulations, You got O grade')
elif res >= 90:
    print('Congratulations, You got A grade')
elif res >= 80:
    print('Congratulations, You got B grade')
else:
    print('Congratulations, You got C grade')

Congratulations, You got C grade

In [6]:
list_val = [1,2,3,4,5]
res = sum(list_val)
print(res)

15

In [7]:
def check_perfect_num(number):
    divisor = sum([i for i in range(1,number) if number % i == 0])
    return number == divisor 

input_num = int(input("Enter the perfect number: "))

if check_perfect_num(input_num):
    print(f'It is perfect number')
else:
    print('It is not perfect number ')

It is not perfect number

In [8]:
def check_perfect_num(number):
    for i in range(1,number):
        if number % i == 0:
            return i

input_num = int(input("Enter the perfect number: "))

if check_perfect_num(input_num):
    print(f'It is perfect number')
else:
    print('It is not perfect number ')

It is perfect number

In [9]:
input_num = int(input("Enter the perfect number: "))
sum = 0
for i in range(1,input_num):
        if input_num % i == 0:
            sum += i
if sum:
    print(f'It is perfect number')
else:
    print('It is not perfect number ')

ValueError: invalid literal for int() with base 10: ''

In [13]:
l = [1,2,3,4,5]
l.append(6)
print(l)

[1, 2, 3, 4, 5, 6]

In [14]:
l.pop(2)

3

In [15]:
print(l)

[1, 2, 4, 5, 6]

In [16]:
# integer
num = 10
print(num)

10

In [17]:
# Float
float_num = 10.10
print(float_num)

10.1

In [18]:
String_val = 'Murali'
print(String_val)

Murali

In [19]:
Bool_val = True
print(Bool_val)

True

In [24]:
str1 = '1 cookie'
str2 = 'cookie'
a = str1.find(str2)
print(a)
print(type(a))

2
<class 'int'>

In [25]:
x = 2
y = 'Murali'
z = y +x

TypeError: can only concatenate str (not "int") to str

In [27]:
x2=list([1,'apply',3])
x2[1] = 'orange'

print(x2)

[1, 'orange', 3]

In [28]:
l = [1,2,3,4]
l.pop(-2)

3

In [32]:
l1=l.sort()
print(l1)

None

In [35]:
import array
array_char = array.array('u',['c','a','t','s'])
array_char.tolist()
print(array_char)

array('u', 'cats')

In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.DataFrame(np.arange(1,10))
df

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [14]:
df.loc[df[0]>5]

   0
5  6
6  7
7  8
8  9